[submodule "home/private_dot_config/external_emacs.default"]
	path = home/private_dot_config/external_emacs.default
	url = https://github.com/sdaaish/emacs.d.git
	branch = master
[submodule "home/private_dot_config/external_crafted-emacs"]
	path = home/private_dot_config/external_crafted-emacs
	url = https://github.com/SystemCrafters/crafted-emacs.git
	branch = master
[submodule "home/private_dot_config/vendor/external_org-html-themes"]
	path = home/private_dot_config/vendor/external_org-html-themes
	url = https://github.com/fniessen/org-html-themes.git
	branch = master
[submodule "home/private_dot_config/vendor/external_org-reveal"]
	path = home/private_dot_config/vendor/external_org-reveal
	url = https://github.com/sdaaish/org-reveal.git
	branch = master
[submodule "home/private_dot_config/vendor/external_reveal.js"]
	path = home/private_dot_config/vendor/external_reveal.js
	url = https://github.com/hakimel/reveal.js.git
	branch = master
