[submodule "home/.config/emacs"]
	path = home/.config/emacs
	url = https://github.com/plexus/chemacs2.git
  branch = main
[submodule "emacs/.config/emacs.doom"]
	path = emacs/.config/emacs.doom
	url = https://github.com/hlissner/doom-emacs
	branch = develop
[submodule "emacs/.config/emacs.default"]
	path = emacs/.config/emacs.default
	url = https://github.com/sdaaish/emacs.d.git
  branch = master
	ignore = dirty
[submodule "home/private_dot_config/emacs"]
	path = home/private_dot_config/emacs
	url = https://github.com/plexus/chemacs2.git
