#
# Useful links:
#       https://github.com/thomd/dotfiles/blob/master/.gitconfig
#       https://github.com/jalcine/gitrc/blob/master/home/.gitconfig
#       http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/

[push]
	default = simple
[core]
	excludesFile = ~/.gitignore
	editor = emacs
[color]
	branch = true
	diff = true
	grep = true
	pager = true
	status = true
	ui = always
	interactive = always

[color "interactive"]
	error = red bold
	
[color "branch"]
	remote = red
	current = green
	upstream = yellow

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold        

[color "status"]
	added = green
	changed = yellow
	untracked = red

[grep]
	linenumber = true
        
[alias]
	alias = "!git config --list | grep alias|cut -c 7-"
	a = "!git alias"
	co = checkout
	st = status -sb
	ci = commit
	br = branch
	last = log -1 HEAD
	unstage = reset HEAD --
	changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
	short = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
	changelog = log --pretty=format:\" * %s\"
	shortnocolor = log --pretty=format:\"%h %cr %cn %s\"
	ls = ls-files
	lo = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cgreen\\ [%cn]%Creset" --decorate
	lol = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cgreen\\ [%cn]%Creset" --decorate --numstat
	lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cgreen\\ [%cn]%Creset" --decorate --date=short
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cgreen\\ [%cn]%Creset" --decorate --date=relative
	le = log --oneline --decorate
	fl = log -u
	lt = log --graph --oneline --decorate --all
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	dl = "!git ll -1"
	dlc = diff --cached HEAD^
	gr = grep -Ii
	f = "!git ls-files | grep -i"
	stl = stash list --pretty=format:'%C(blue)%gd %C(red)* %C(yellow)%s'
	ru = remote -v update
#
# Include local or personal stuff from this file
# ie.
 # [user]
 #	email = my@adress
 #	name = My Name

[include]
        path = ~/.gitconfig.local

