if test -f $XDG_RUNTIME_DIR/gpg-agent-info && kill -0 $(head -n 1 $XDG_RUNTIME_DIR/gpg-agent-info | cut -d: -f2) 2>/dev/null ; then
    eval $(< $XDG_RUNTIME_DIR/gpg-agent-info)
else
    eval $(gpg-agent --daemon --enable-ssh-support)
fi
export GPG_AGENT_INFO
export SSH_AUTH_SOCK

