{{- $email := promptStringOnce . "email" "Email address:" -}}
{{- $name := promptStringOnce . "name" "Fullname:" -}}
{{- $githubname := promptStringOnce . "githubname" "Github username:" -}}
{{- $personal := promptBoolOnce . "personal" "Personal device, (T)rue/(F)alse:" -}}
{{- $proxy := promptBoolOnce . "proxy" "Use proxy, (T)rue/(F)alse:" -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    githubname = {{ $githubname | quote }}
    personal = {{ $personal }}
    proxy = {{ $proxy }}
    umask = 0o22
    osid = {{ $osid | quote }}

[interpreters.ps1]
    command = "powershell.exe"
    args = ["-NoLogo","-NoProfile","-NonInteractive"]

{{ if eq .chezmoi.os "windows" -}}
[env]
    PSModulePath = "C:\\Program Files\\WindowsPowerShell\\Modules;C:\\Windows\\system32\\WindowsPowerShell\\v1.0\\Modules;C:\\Program Files\\PowerShell\\Modules;C:\\Program Files\\Powershell\\7\\Modules;%USERPROFILE%\\.local\\share\\PowerShell\\Modules;"

[cd]
     command = "powershell.exe"
     args = ["-NoLogo","-NoProfile","-NonInteractive"]
{{ else -}}
[cd]
     command = "bash"
     args = []
{{- end }}
