# Ignore file for chezmoi

# No linux files on Windows.
{{ if ne .chezmoi.os "linux" }}
.*rc
.X*
.bash*
.hushlogin
.mg
.profile
.tmux*
.x*
.config/bash/
.config/base16-shell/
.config/bat/
.config/fish/
.config/pip/
.config/tmux/
.config/tree-sitter/*.so
.config/zsh/
{{ end }}

# No Windows files on Linux.
{{ if ne .chezmoi.os "windows" }}
AppData/
.config/tree-sitter/*.dll
.wslconfig
bin
{{ end}}
