{{ if eq .chezmoi.os "windows"}}
# Install scoop global packages

Function refreshenv {
    $paths = @(
				([System.Environment]::GetEnvironmentVariable("Path", "Machine") -split ([io.path]::PathSeparator))
				([System.Environment]::GetEnvironmentVariable("Path", "User") -split ([io.path]::PathSeparator))
    )
    $env:path = ($paths | Select-Object -Unique) -join ([io.path]::PathSeparator)
}

refreshenv

# Test for privilege
$wid = [System.Security.Principal.WindowsIdentity]::GetCurrent()
$prp = New-Object System.Security.Principal.WindowsPrincipal($wid)
$adm = [System.Security.Principal.WindowsBuiltInRole]::Administrator

# Test and install if administrator
if (-not ($prp.IsInRole($adm))) {
    throw "You need to run this as administrator."
}

Import-Module Microsoft.PowerShell.Utility

$ErrorActionPreference = "Stop"
try { Get-Command git.exe}
catch { throw "Git not installed" }

try { Get-Command scoop}
catch { throw "Scoop not installed" }

scoop update --quiet

#  Get installed packages
$config = scoop export|Convertfrom-Json
$installed = ($config.apps|Where-Object info -match global|Where-Object info -notmatch failed).name

$globalPackages = @(
    "AnonymousPro-NF"
    "CodeNewRoman-NF"
    "DejaVuSansMono-NF"
    "Delugia-Mono-Nerd-Font-complete"
    "Delugia-Nerd-Font-complete"
    "FiraCode-NF"
    "FiraMono-NF"
    "RobotoMono-NF"
    "SourceCodePro-NF"
    "Terminus-NF"
    "Ubuntu-NF"
)

# Install Global packages as administrator
Write-Verbose "Installing Global packages"
foreach ($pkg in $globalPackages){
    if ($pkg -in $installed) {
        "Already installed: {0}" -f $pkg
    }
    else {
        "Installing: {0}" -f $pkg
        scoop install $pkg --no-update-scoop
    }
}

{{ end }}
