{{ if eq .chezmoi.os "windows"}}

# Setup the powershell config file

[string]$path = "{0}{1}" -f $HOME,"\.local\PowerShell\Modules"
$path = $path -replace "\\","\\"

$content = @"
{
    "Microsoft.PowerShell:ExecutionPolicy":"RemoteSigned",
    "PSModulePath":$path
}
"@

[string]$config = @(
    (Split-Path $profile.CurrentUserAllHosts)
    [IO.Path]::DirectorySeparatorChar
    "powershell.config.json"
) -Join ""

Set-Content -Path $config -Value $content

{{ end }}
