{{ if eq .chezmoi.os "windows" -}}

try { Get-Command wt.exe -ErrorAction Stop | Out-Null}
catch { winget install "windows terminal" --source "msstore" --accept-source-agreements --accept-package-agreements }

{{end}}
