{{ if eq .chezmoi.os "windows"}}

# Creates custom configs

# Starship config for NuShell
if (Get-Command starship.exe -ErrorAction SilentlyContinue){
    starship.exe init nu | Out-File ~/.cache/starship/init.nu
}

{{ end }}
