# Install scoop user packages

{{ if eq .chezmoi.os "windows"}}

$DATE = Get-Date -Format "yyyyMMddTHHmmss"
Import-Module Microsoft.PowerShell.Utility

if (-not (Get-Command scoop)) {
    Write-Verbose "Scoop not installed, installing."
    Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression
}
else {
    # Update repository
    scoop update --quiet
}

#  Get installed packages
$config = scoop.ps1 export|convertfrom-json
$installed = $config.apps.name
$buckets = $config.buckets.name

if (-not ("extras" -in $buckets)) {
    scoop bucket add extras
}

if (-not ("nerd-fonts" -in $buckets)) {
    scoop bucket add nerd-fonts
}

# Install these packages
$packages = @(
    "aspell"
    "dasel"
    "gcc"
    "sudo"
    "sysinternals"
    "xsv"
    "zstd"
)

# Install user mode packages
Write-Verbose "Installing user packages"
foreach ($pkg in $packages){
    if ($pkg -in $installed) {
        "Already installed: {0}" -f $pkg
    }
    else {
        "Installing: {0}" -f $pkg
        scoop install $pkg --no-update-scoop
    }
}

{{ end }}
