{{ if eq .chezmoi.os "windows"}}

# Setup the powershell profile for CurrentUserAllHosts.
# For both Desktop and Core version.

$DATE = Get-Date -Format "yyyy-MM-dd HH:mm:ss"

$content1 = @"
# This file is managed by Chezmoi, don't edit it
# Updated at ${DATE}
"@

$content2 = @'

$starttime = Get-Date

# Exclude Powershell ISE from profiles and aliases for now.
if ($Host -match "ISE"){
}
else {
    switch -regex ($env:TERM){
        "^emacs-" { [void]|Out-Null}
        "^emacs$" { . ~/.config/powershell/profile-emacs.ps1 }
        "dumb" { . ~/.config/powershell/profile-emacs.ps1 }
        "vscode" { . ~/.config/powershell/profile-emacs.ps1 }
        default { . ~/.config/powershell/profile.ps1 }
    }
}
if (Test-Path "C:\Program Files (x86)\GnuWin32\bin\find.exe") {
    $TMPPATH = "C:\Program Files (x86)\GnuWin32\bin;${env:PATH}"
    $NEWPATH = ($TMPPATH -split ";" | Select-Object -Unique) -join ";"
}

${env:PATH} = ${NEWPATH}
'@

$content =  $content1 + $content2

# Find the base of the Documents folder
$BaseDir = [System.Environment]::GetFolderPath([System.Environment+SpecialFolder]::Mydocuments)

"PowerShell", "WindowsPowerShell" | foreach {

    if(-not(Test-Path (Join-Path $BaseDir $_) -PathType Container)){
        New-Item -Path $BaseDir -Name $_ -ItemType Directory
    }
    $parent = Join-Path $BaseDir $_
    $config = Join-Path $parent "profile.ps1"
    Set-Content -Path $config -Value $content -Encoding UTF8 -NoNewLine -Force
}

# Setup the config file for PowerShell 7
[string]$path = "{0}{1}" -f $CHEZMOI_DEST_DIR,"\.local\share\PowerShell\Modules"
$path = $path -replace "\\","\\"

$content = @"
{
    "Microsoft.PowerShell.ExecutionPolicy" : "RemoteSigned",
    "PSModulePath" : "$path"
}
"@

$config = Join-Path $BaseDir PowerShell
$config = Join-Path $config "powershell.config.json"

Set-Content -Path $config -Value $content

{{ end }}
