{{ if eq .chezmoi.os "windows"}}

$DATE = Get-Date -Format "yyyyMMddTHHmmss"

Import-Module Microsoft.Winget.Client -Force

#  Get installed packages
$installed = Get-WinGetPackage | Where-Object source -eq winget

# Install these packages
$wingetpackages = @{
    "Zoxide" = "ajeetdsouza.zoxide"
    "Eza" = "eza-community.eza"
    "FZF" = "junegunn.fzf"
    "Bat" = "sharkdp.bat"
    "Lsd" = "lsd-rs.lsd"
    "SharpKeys" = "RandyRants.SharpKeys"
    "KeePassXC" = "KeePassXCTeam.KeePassXC"
    "GoPass" = "gopass.gopass"
    "Go" = "GoLang.Go"
    "GnuPG" = "GnuPG.GnuPG"
    "RipGrep" = "BurntSushi.ripgrep.MSVC"
    "SilverSearcher" = "JFLarvoire.Ag"
    "Grep" = "GnuWin32.Grep"
    "FindUtils" = "GnuWin32.FindUtils"
    "Zip" = "GnuWin32.Zip"
    "UnZip" = "GnuWin32.UnZip"
    "DirEnv" = "direnv.direnv"
    "ShellCheck" = "koalaman.shellcheck"
    "Micro" = "zyedidia.micro"
    "Age" = "FiloSottile.age"
    "MKCert" = "FiloSottile.mkcert"
    "Glow" = "charmbracelet.glow"
    "Starship" = "Starship.Starship"
    "PowerShell" = "Microsoft.PowerShell"
    "Uv" = "astral-sh.uv"
    "NuShell" = "Nushell.Nushell"
    "MiniSign" = "jedisct1.minisign"
    "CsvLens" = "YS-L.csvlens"
    "Dua Cli" = "Byron.dua-cli"
    "CoreUtils" = "uutils.coreutils"
    "Rage" = "str4d.rage"
}

# Test for privilege
{{- template "test-for-admin.ps1" -}}

# Test and install if administrator
if ($prp.IsInRole($adm)) {
    Write-Verbose "Running as Administrator, installing packages..."
    foreach ($pkg in $wingetpackages.GetEnumerator()){
        $name = $pkg.name
        $id = $pkg.value
        Write-Verbose "Verifying $name"
        if (-not ($id -in $installed.id)) {
            Write-Verbose "Installing $name $id"

            $opt = @{
                Id = $id
                Source = "winget"
                MatchOption = "Equals"
                Mode = "Silent"
            }

            Start-Job -ScriptBlock {Install-WingetPackage @using:opt} -Name $name
            Get-Job | Wait-Job
        }
        else {
            Write-Verbose "Package $name $id already installed"
        }
    }
}
else {
    throw "You need to run this as administrator."
}

{{ end }}
