{{ if eq .chezmoi.os "windows"}}


$directories = @(
    "PowerShell"
    "WindowsPowerShell"
)

foreach($dir in $directories){
    $path = Join-Path $Home .local/share
    New-Item -Path $path -Name $dir -ItemType Directory -Force|Out-Null
}

{{ end }}
