{{ if eq .chezmoi.os "windows" -}}

Import-Module PowerShellGet -Force

# Use a shared location for User level modules
$ModulePath = Join-Path (Resolve-Path ~) ".local/share/PowerShell/Modules"
$currentModules = Get-Module -ListAvailable

# Stable modules, normal install
$stableModules = @(
    "BuildHelpers"
    "BurntToast"
    "DnsClient-PS"
    "Get-ChildItemColor"
    "ImportExcel"
    "InstallModuleFromGitHub"
    "Microsoft.PowerShell.ConsoleGuiTools"
    "Microsoft.PowerShell.SecretManagement"
    "Microsoft.PowerShell.SecretStore"
    "PSFzf"
    "PSScaffold"
    "PSScriptAnalyzer"
    "PSScriptTools"
    "Pester"
    "Posh-Git"
    "Terminal-Icons"
    "Watch-Command"
    "WindowsSandboxTools"
)

# Pre-release modules
$betaModules = @(
    "SecretManagement.KeePass"
)

foreach ($module in $stableModules) {
    if (-not ($module -in $currentModules.Name)) {
        $Jobs = Start-Job -Name $module -ScriptBlock { Save-Module -Name $using:module -Path $using:ModulePath -Repository PSGallery -Force }
        Get-Job|Wait-Job -TimeOut 120|Remove-Job
    }
}

foreach ($module in $betaModules) {
    if (-not ($module -in $currentModules.Name)) {
        $Jobs = Start-Job -Name $module -ScriptBlock { Save-Module -Name $using:module -Path $using:ModulePath -Repository PSGallery -AllowPrerelease -Force }
        Get-Job|Wait-Job -TimeOut 120|Remove-Job
    }
}

{{end}}
