{{ if eq .chezmoi.os "windows"}}
# Install scoop global packages

# Load function and update PATHS
{{- template "refreshpath.ps1" -}}

# Test for prvililege
{{- template "test-for-admin.ps1" -}}

Import-Module Microsoft.PowerShell.Utility

$ErrorActionPreference = "Stop"
try { Get-Command git.exe}
catch { throw "Git not installed" }

try { Get-Command scoop}
catch { throw "Scoop not installed" }

scoop update --quiet

#  Get installed packages
$config = scoop export|Convertfrom-Json
$installed = ($config.apps|Where-Object info -match global|Where-Object info -notmatch failed).name

$globalPackages = @(
    "AnonymousPro-NF"
    "CodeNewRoman-NF"
    "DejaVuSansMono-NF"
    "Delugia-Mono-Nerd-Font-complete"
    "Delugia-Nerd-Font-complete"
    "FiraCode-NF"
    "FiraMono-NF"
    "RobotoMono-NF"
    "SourceCodePro-NF"
    "Terminus-NF"
    "Ubuntu-NF"
)

# Install Global packages as administrator
Write-Verbose "Installing Global packages"
foreach ($pkg in $globalPackages){
    if ($pkg -in $installed) {
        "Already installed: {0}" -f $pkg
    }
    else {
        "Installing: {0}" -f $pkg
        scoop install $pkg --no-update-scoop
    }
}

{{ end }}
