{{ if eq .chezmoi.os "windows" -}}

## Install Git and 7Zip separately sinceother packages depends on these


Import-Module Microsoft.Winget.Client -Force

#  Get installed packages
$installed = Get-WinGetPackage | Where-Object source -eq winget

$wingetpackages = @{
    "Git" = "Git.Git"
    "7Zip" = "7zip.7zip"
}

Write-Verbose "Running as Administrator, installing packages..."
foreach ($pkg in $wingetpackages.GetEnumerator()){
    $name = $pkg.name
    $id = $pkg.value
    Write-Verbose "Verifying $name"
    if (-not ($id -in $installed.id)) {
        Write-Verbose "Installing $name $id"

        $opt = @{
            Id = $id
            Source = "winget"
            MatchOption = "Equals"
            Mode = "Silent"
        }

        Start-Job -ScriptBlock {Install-WingetPackage @using:opt} -Name $name
        Get-Job | Wait-Job
    }
    else {
        Write-Verbose "Package $name $id already installed"
    }
}

Import-Module ${env:UserProfile}/.config/powershell/MyFunctions/MyFunctions/MyFunctions.psd1
Add-ProgToLocalPath "C:\Program Files\7-Zip\7z.exe"

{{end}}
