# -*- mode: toml; -*-

# Various Emacs config used for reference

# Crafted Emacs from SystemCrafters
[".config/emacs.crafted"]
  type = "git-repo"
  url = "https://github.com/SystemCrafters/crafted-emacs.git"
  refreshPeriod = "168h"

# Emacs SOLO, a version without dependencies
[".config/emacs.solo"]
  type = "git-repo"
  url = "https://github.com/LionyxML/emacs-solo.git"
  refreshPeriod = "168h"
