{{ if eq .chezmoi.os "linux" }}
# -*- mode: toml; -*-

# Git completions for Bash and Zsh, and the git prompt

# Git prompt
[".config/bash/completions/git-prompt"]
  type = "file"
  url = "https://raw.githubusercontent.com/git/git/master/contrib/completion/git-prompt.sh"
  refreshPeriod = "672h"

# Bash git completions
[".config/bash/completions/git"]
  type = "file"
  url = "https://raw.githubusercontent.com/git/git/master/contrib/completion/git-completion.bash"
  refreshPeriod = "672h"

# Zsh git completions
[".config/zsh/completions/_git"]
  type = "file"
  url = "https://raw.githubusercontent.com/git/git/master/contrib/completion/git-completion.zsh"
  refreshPeriod = "672h"

{{ end }}
