# Install Linux utilities from Github.

{{ if eq .chezmoi.os "linux" -}}

# Age encryption tool
[".local/bin/age"]
    type = "archive-file"
    url = "https://github.com/FiloSottile/age/releases/download/{{ .ageVersion }}/age-{{ .ageVersion }}-{{.chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"
    path = "age/age"
    checksum.sha256 = "{{ .ageSha256 }}"
    refreshPeriod = "168h"

# Signing tool
[".local/bin/minisign"]
    type = "archive-file"
    url = "https://github.com/jedisct1/minisign/releases/download/{{ .minisignVersion }}/minisign-{{ .minisignVersion }}-{{.chezmoi.os }}.tar.gz"
    path = "minisign-linux/x86_64/minisign"
    checksum.sha256 = "{{ .minisignSha256 }}"
    refreshPeriod = "168h"

# FZF, fuzzy finder
[".local/bin/fzf"]
    type = "archive-file"
    url = "https://github.com/fuzzy-finder/fzf/releases/download/{{ .fzfVersion }}/fzf-{{ .fzfVersion }}-{{.chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
    path = "fzf"
    checksum.sha256 = "{{ .fzfSha256 }}"
    refreshPeriod = "168h"

# Direnv, managing folder specific environment variables
[".local/bin/direnv"]
    type = "file"
    url = "https://github.com/direnv/direnv/releases/download/{{ .direnvVersion }}/direnv.{{ .chezmoi.os }}-{{ .chezmoi.arch }}"
    path = "direnv"
    executable = true
    checksum.sha256 = "{{ .direnvSha256 }}"
    refreshPeriod = "168h"

{{end}}

