# -*- mode: toml; -*-

# Emacs Swedish calendar
[".config/lisp/sv-kalender.el"]
  type = "file"
  url = "https://www.emacswiki.org/emacs/download/sv-kalender.el"
  refreshPeriod = "672h"

# Emacs names calendar
[".config/lisp/sv-kalender-namnsdagar.el"]
  type = "file"
  url = "https://raw.githubusercontent.com/matsl/sv-kalender-namnsdagar/master/sv-kalender-namnsdagar.el"
  refreshPeriod = "672h"

# Simple CSS from https://simplecss.org/
["www/css/simple.css"]
  type = "file"
  url = "https://raw.githubusercontent.com/kevquirk/simple.css/main/simple.css"
  refreshPeriod = "672h"

