# -*- mode: toml; -*-
# Tree-sitter libraries for both Windows and Linux.

{{ $treesitVersion := "1.0.192" -}}
{{ if eq .chezmoi.os "linux" -}}

# Linux
[".config/tree-sitter"]
  type = "archive"
  url = "https://github.com/kiennq/treesit-langs/releases/download/{{ $treesitVersion }}/tree-sitter-grammars.x86_64-unknown-linux-gnu.v{{ $treesitVersion }}.tar.gz"
  refreshPeriod = "672h"

{{ else if eq .chezmoi.os "windows" -}}
# Windows
[".config/tree-sitter"]
  type = "archive"
  url = "https://github.com/kiennq/treesit-langs/releases/download/{{ $treesitVersion }}/tree-sitter-grammars.x86_64-pc-windows-msvc.v{{ $treesitVersion }}.tar.gz"
  refreshPeriod = "672h"

{{ end }}
