# -*- mode: toml; -*-

# External Org mode dependencies, under ~/.config/vendor

# Org html themes
[".config/vendor/org-html-themes"]
  type = "git-repo"
  url = "https://github.com/fniessen/org-html-themes.git"
  refreshPeriod = "168h"

# Org reveal
[".config/vendor/org-reveal"]
  type = "git-repo"
  url = "https://github.com/sdaaish/org-reveal.git"
  refreshPeriod = "168h"

# Reveal.JS, dependecy to org-reveal
[".config/vendor/reveal.js"]
  type = "git-repo"
  url = "https://github.com/hakimel/reveal.js.git"
  refreshPeriod = "168h"
