[Desktop Entry]
Name=Emacs Nano
GenericName=Text Editor
Comment=Emacs using Nano version
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=emacs --init-dir ~/.config/emacs.nano %F
Icon=emacs
Type=Application
Terminal=false
Categories=TextEditor;Utility;
StartupNotify=true
StartupWMClass=Emacs
X-KDE-StartupNotify=false
Path=
