{{- if eq .chezmoi.os "linux" -}}

#!/usr/bin/env bash

set -eufo pipefail

DATE=$(date +"%Y%m%dT%H%M%S")

# Backup existing ssh config one time
if [ -f "${CHEZMOI_DEST_DIR}/.ssh/config" ]
then
    cp "${CHEZMOI_DEST_DIR}/.ssh/config" "${CHEZMOI_DEST_DIR}/.ssh/config.${DATE}.bak"
fi

if [ -f "${CHEZMOI_DEST_DIR}/.ssh/known_hosts" ]
then
    cp "${CHEZMOI_DEST_DIR}/.ssh/known_hosts" "${CHEZMOI_DEST_DIR}/.ssh/known_hosts.${DATE}.bak"
    ssh-keyscan github.com >> "${CHEZMOI_DEST_DIR}/.ssh/known_hosts"
fi

{{ end }}
