{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

set -eufo pipefail

# Check if fzf exists
[[ -x $(command -v fzf) ]] && exit 0

# Download info
URL="https://github.com/junegunn/fzf/releases/download/v0.57.0/fzf-0.57.0-linux_amd64.tar.gz"
DEST="${HOME}/tmp/fzf-0.57.0-linux_amd64.tar.gz"
CHKURL="https://github.com/junegunn/fzf/releases/download/v0.57.0/fzf_0.57.0_checksums.txt"
CHKSUM="${HOME}/tmp/fzf_0.57.0_checksums.txt"
FILE="${HOME}/.local/bin/fzf"

if [[ -x $(command -v curl) ]]
then
    echo "Install fzf with curl"
    curl -sSfL ${URL} -o ${DEST}
    curl -sSfL ${CHKURL} -o ${CHKSUM}
elif [[ -x $(command -v wget) ]]
then
    echo "Install fzf with wget"
    wget ${URL} -O ${DEST}
    wget ${CHKURL} -O ${CHKSUM}
else
    echo "Curl or WGET not installed"
    exit 1
fi

pushd ${HOME}/tmp || exit 1

if [[ $(sha256sum -c ${CHKSUM} --ignore-missing) ]]
then
    tar xvfz $(basename ${DEST})
    cp fzf ${FILE}
    rm -f ${DEST}
    rm -f ${CHKSUM}
else
    echo "The checksum did not match for ${DEST}"
    exit 1
fi

popd

{{ end }}
