# -*- mode:gitconfig; -*-

#
# Useful links:
#       https://github.com/thomd/dotfiles/blob/master/.gitconfig
#       https://github.com/jalcine/gitrc/blob/master/home/.gitconfig
#       http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/
#
# Line endings on Windows:
#      https://www.aleksandrhovhannisyan.com/blog/crlf-vs-lf-normalizing-line-endings-in-git/
#
[user]
	name = {{ .name }}
	email = {{ .email }}

[push]
	default = simple

[pull]
	ff = only

[diff]
	noprefix = true
	ignoreSubmodules = dirty

[core]
	excludesFile = ~/.config/git/ignore
	attributesFile = ~/.config/git/attributes
	editor = emacsclient -t -a=
	autocrlf = input
	eol = lf
	filemode = false

[color]
	branch = true
	diff = true
	grep = true
	pager = true
	status = true
	ui = always
	interactive = always

[color "interactive"]
	error = red bold

[color "branch"]
	remote = red
	current = green
	upstream = yellow

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = green
	changed = yellow
	untracked = red

[grep]
	linenumber = true

# Rewrite Urls
[url "ssh://git@github.com/"]
	pushInsteadOf = https://github.com/

[url "ssh://git@gitlab.com/"]
	pushInsteadOf = https://gitlab.com/
	
#
# Include local or personal stuff from these files.
[include]
	path = ~/.config/git/alias	

[include]
	path = ~/.config/git/local

[include]
	path = ~/.config/git/sites

[includeIf "gitdir/i:~/[rR]epos/**"]
	path = ~/.config/git/private

[includeIf "gitdir/i:~/[vV]agrantdir/**"]
	path = ~/.config/git/private

[includeIf "gitdir/i:**/[Uu]sers/**/[vV]agrantdir/**"]
	path = ~/.config/git/private

[includeIf "gitdir/i:~/.config/**"]
	path = ~/.config/git/private

[includeIf "gitdir/i:~/AppData/**"]
	path = ~/.config/git/private

# Work related configs

## Both in Windows and in WSL
[includeIf "gitdir/i:~/[wW]ork/**"]
	path = ~/.config/git/work

[includeIf "gitdir/i:**/[Uu]sers/**/[wW]ork/**"]
	path = ~/.config/git/work

# For Visual Studio default repository location
[includeIf "gitdir/i:~/source/**"]
	path = ~/.config/git/work

[includeIf "gitdir/i:**/[Uu]sers/**/source/**"]
	path = ~/.config/git/work

[magit]
	hideCampaign = true
