#	-*- mode: gitconfig; -*-

# Custom settings for sites that require exceptions to work properly.

[http]
	{{- if .proxy }}
	sslCAInfo = ~/.config/git/CACerts/CA-chain.crt
	{{ end }}

# Gnu Emacs needs this for the package manager "straight" to work properly.
[http "https://git.savannah.gnu.org"]
	sslVerify = true
	{{ if eq .chezmoi.os "windows" -}}
	sslbackend = openssl
	{{ else -}}
	sslbackend = gnutls
	{{ end -}}
	cookieFile = ~/.cache/cookie.txt
