#	-*- mode: gitconfig; -*-

# Custom settings for sites that require exceptions to work properly.

[http]
	sslCAPath = ~/.config/git/CAcerts
	{{- if not .personal -}}
	sslCAInfo = ~/.config/git/CACerts/CA-certs.crt
	{{ end }}

# Gnu Emacs needs this for the package manager "straight" to work properly.
[http "https://git.savannah.gnu.org"]
	sslVerify = true
	sslbackend = openssl
	cookieFile = ~/.cache/cookie.txt
