# Settings for starship. Symbols mostly chosen from CaskaydiaCove Nerd Font and Inconsolata.

{{ if eq .chezmoi.os "windows" }}
# This part works for Windows.

format = """
[$status$battery$time$os${env_var.root}${env_var.starship} ${env_var.psversion}:${env_var.user}$hostname  $git_status$git_branch$git_commit$git_state $directory$all](bold blue)
[$shell ](bold blue)"""

{{ else if eq .chezmoi.os "linux" }}
# Use default fonts for Linux.

format = """
[$status$time$os${env_var.starship}:$username$hostname $sudo$git_status$git_branch$git_commit$git_state $directory$all](bold blue)
[$shell ](bold blue)"""

{{ end }}

continuation_prompt = '[](green) '
command_timeout = 1000

[battery]
full_symbol = '󰁹 '
charging_symbol = '󰂄 '
discharging_symbol = '󰂃 '
unknown_symbol = '󰂑 '
empty_symbol = '󰁺 '
disabled = false
format = '[$symbol$percentage]($style) '

[[battery.display]]
threshold = 15
style = 'red bold'

[[battery.display]]
threshold = 95
style = 'yellow bold'

[[battery.display]]
threshold = 99
style = 'green bold'

[character]
format = "$symbol"
success_symbol = "[ ](bold blue)"
error_symbol = "[ ](bold red)"
disabled = true

[cmd_duration]
format = " [$duration]($style)"
style = '#3399ff'

[hostname]
ssh_only = false
ssh_symbol = " "
trim_at = '.'
format = '[@$hostname]($style)'
style = '#3399ff'
disabled = false

[username]
format = '[$user]($style)'
style_root = 'red bold'
style_user = '#66b3ff'
show_always = false
{{ if eq .chezmoi.os "windows" -}}
disabled = true
{{ else if eq .chezmoi.os "linux" -}}
disabled = false
{{ end }}

[status]
disabled = false
format = "[$symbol]($style) "
symbol = '[](bold red)'
style = ''
success_symbol = '[](bold green)'

[env_var.root]
symbol = "🧨"
format = "$symbol "
variable = "SUPERUSER"

[env_var.starship]
format = "[$env_value](#9933ff)"
variable = "STARSHIP_SHELL"

[env_var.user]
format = "[$env_value]($style)"
variable = "USERNAME"
style = '#0099ff'

[env_var.psversion]
format = "[$env_value](#9933ff)"
variable = "PSVERSION"

[shell]
powershell_indicator = ""
bash_indicator = "🐧  "
zsh_indicator = "🐧󰒲 "
style = "(bold blue)"
format = "[$indicator]($style)"
disabled = false

[time]
format = '[$time]($style) '
style = '#9999ff'
use_12hr = false
disabled = false
utc_time_offset = 'local'
time_format = '%T (v%V)'
time_range = '-'

[os]
disabled = false

[os.symbols]
Alpine = " "
Arch = " "
Debian = " "
Kali = " "
Linux = " "
Mint = " "
NixOS = " "
openSUSE = "[ ](#006400)"
Raspbian = " "
SUSE = "[ ](#006400)"
Ubuntu = "[ ](#ff6600)"
Unknown = " "
Windows = "[ ](#00FFFF)"

[sudo]
disabled = false
format = "as [$symbol]($style)"

[aws]
symbol = "  "

[c]
symbol = " "

[conda]
symbol = " "

[dart]
symbol = " "

[directory]
read_only = " 󰉐"
truncation_length = 3
truncation_symbol = ".../"

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[git_branch]
symbol = " "

[git_status]
format = '([$all_status$ahead_behind]($style) )'
up_to_date = "[](bold green)"

[golang]
symbol = " "

[guix_shell]
symbol = " "

[hg_branch]
symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[line_break]
disabled = true

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[ocaml]
symbol = " "

[package]
symbol = "󰏗 "

[perl]
symbol = " "

[php]
symbol = " "

[python]
symbol = " "

[ruby]
symbol = " "

[rust]
symbol = " "

[scala]
symbol = " "

[shlvl]
symbol = " "

[swift]
symbol = "ﯣ "

[zig]
symbol = " "
