#!/usr/bin/env bash

# Customize functions to match the distribution for package management

{{ if eq .chezmoi.osRelease.id  "opensuse-tumbleweed" }}
# OpenSuse TumbleWeed
alias apt="zypper"
alias apu="zypper list-updates"
{{ else }}
# APT based distributions
alias zypper="apt"
alias apu="apt list --upgradable | fzf --preview 'apt-cache show {1}'"
alias aps="apt-cache search . | fzf --preview 'apt-cache show {1}'"
alias apc="apt-cache search . |  cut --delimiter ' ' --fields 1 | fzf --multi --cycle --reverse --preview 'apt-cache show {1}' | xargs -r sudo apt install -y"
alias apcc="apt-cache search . | fzf --preview 'apt-cache depends {1}'"
{{ end }}

# Upgrade system
apd() {
    {{ if eq .chezmoi.osRelease.id  "opensuse-tumbleweed" -}}
    zypper update
    {{ else -}}
    sudo bash -c  "apt-get update -y ; apt-get upgrade -y"
    {{- end }}
}

#Do dist-upgrade
apdd() {
    {{ if eq .chezmoi.osRelease.id  "opensuse-tumbleweed" -}}
    zypper dup
    {{ else -}}
    sudo bash -c  "apt-get update -y ; apt-get dist-upgrade -y"
    {{- end }}
}

# Check for outdated packages
apo() {
    {{ if eq .chezmoi.osRelease.id  "opensuse-tumbleweed" -}}
    zypper list-updates
    {{ else -}}
    printf "Checking for upgrades...\n------------------------\n"
    sudo bash -c "sudo apt-get update >/dev/null; \
    	 apt-get dist-upgrade --dry-run| grep ^Inst|cut -d\" \" -f2| grep .|sort"

    {{- end }}
}
# Remove unwanted stuff
apr() {
    sudo bash -c  "apt-get --yes autoremove"
}
